extends ../../template/_layout

block pageVar
	-
		page = 'main-page';

block path
	-
		baseDir = '/f';

block page
	section.main-page
		.container.main-page__container
			.main-page__wrap
				.main-page__screen.screen
					.screen__video-wrap
						.screen__video
							video.screen__video-item(preload="auto" autoplay muted loop playsinline)
								source(src=`${baseDir}/video/bg-video.webm`, type="video/webm")
								source(src=`${baseDir}/video/bg-video.mp4`, type="video/mp4")
						.screen__video-img
							+picture('bg-video', '', baseDir)
				.main-page__screen.screen.swiper.js-main-slider
					.screen__slider-wrap.swiper-wrapper
						.screen__slide.swiper-slide
							.screen__img-wrap
									picture
										source(srcset=`${baseDir}/img/m-rs-banner.jpg` media='(max-width: 574.9px)' type="image/jpg")
										source(srcset=`${baseDir}/img/t-rs-banner.jpg` media='(max-width: 959.9px)' type="image/jpg")
										source(srcset=`${baseDir}/img/t-rs-slide@1x.jpg 1x, ${baseDir}/img/t-rs-slide@2x.jpg 2x` media='(max-width: 959.9px)' type="image/jpg")
										img(src=`${baseDir}/img/rs-banner.jpg` alt='')
							.screen__icon-wrap
								svg(width="14" height="9").screen__icon
									use(href="/f/img/sprite.svg#arrow-b")
							.screen__content.screen__content--slider
								.screen__inner.screen__inner--slider.screen__inner--top
									h2.screen__title Russian Standard
									p.screen__text A vodka of exceptional quality, born from our pursuit for perfection and Russia's rich vodka heritage.
									a.screen__link(href="#") More
						.screen__slide.swiper-slide
							.screen__img-wrap
								img(src=`${baseDir}/img/gancia-banner.jpg` alt='')
							.screen__icon-wrap
								svg(width="14" height="9").screen__icon
									use(href="/f/img/sprite.svg#arrow-b")
							.screen__content.screen__content--slider
								.screen__inner.screen__inner--slider
									h2.screen__title Gancia
									p.screen__text The first Italian sparkling wine. Its cellars are reckoned world heritage and are protected by UNESCO.
									a.screen__link(href="#") More
								.screen__content-img.screen__content-img--gancia
									+picture('slider-gancia-bottle', '', baseDir)
						.screen__slide.swiper-slide
							.screen__img-wrap
								img(src=`${baseDir}/img/gm-banner.jpg` alt='')
							.screen__icon-wrap
								svg(width="14" height="9").screen__icon
									use(href="/f/img/sprite.svg#arrow-b")
							.screen__content.screen__content--slider
								.screen__inner.screen__inner--slider
									h2.screen__title GreenMark
									p.screen__text One of the most popular brands in Russia. Green Mark is a classic vodka with a long history steeped in the very best traditions of Russian vodka production.
									a.screen__link(href="#") More
								.screen__content-img.screen__content-img--gm
									+picture('slider-gm-bottle', '', baseDir)
						.screen__slide.swiper-slide
							.screen__img-wrap
								img(src=`${baseDir}/img/pm-banner.jpg` alt='')
							.screen__icon-wrap
								svg(width="14" height="9").screen__icon
									use(href="/f/img/sprite.svg#arrow-b")
							.screen__content.screen__content--slider
								.screen__inner.screen__inner--slider
									h2.screen__title Parliament
									p.screen__text Parliament vodka is one of the oldest Russian brands in the segment. This classic vodka is crafted according to a traditional Russian vodka recipe - using alcohol and water only - and is complemented by unparalleled purification with milk.
									a.screen__link(href="#") More
								.screen__content-img.screen__content-img--pm
									+picture('slider-pm-bottle', '', baseDir)
						.screen__slide.swiper-slide
							.screen__img-wrap
								img(src=`${baseDir}/img/talka-banner.jpg` alt='')
							.screen__icon-wrap
								svg(width="14" height="9").screen__icon
									use(href="/f/img/sprite.svg#arrow-b")
							.screen__content.screen__content--slider
								.screen__inner.screen__inner--slider
									h2.screen__title Talka
									p.screen__text В глубинах Сибири, среди заснеженных просторов и суровой северной природы, среди величавых рек и свежего таежного воздуха, берет свое начало водка «Талка» — Легенда Сибири.
									a.screen__link(href="#") More
								.screen__content-img.screen__content-img--talka
									+picture('slider-talka-bottle', '', baseDir)
					button.screen__nav-btn.screen__nav-btn--next.js-main-slider-next
						svg(width="51" height="12").screen__nav-icon
							use(href="/f/img/sprite.svg#arrow-nav")
					button.screen__nav-btn.js-main-slider-prev
						svg(width="51" height="12").screen__nav-icon
							use(href="/f/img/sprite.svg#arrow-nav")
					.screen__pagination
						.screen__p-container.js-preview-slider(thumbsSlider="")
							ol.screen__p-list.swiper-wrapper
								li.screen__p-item.swiper-slide
									button.screen__p-btn
										+picture('rs-logo', 'Russian Standard', baseDir)
								li.screen__p-item.swiper-slide
									button.screen__p-btn
										+picture('gancia-logo', 'Gancia', baseDir)
								li.screen__p-item.swiper-slide
									button.screen__p-btn
										+picture('zm-logo', 'Green Mark', baseDir)
								li.screen__p-item.swiper-slide
									button.screen__p-btn
										+picture('parlament-logo', 'Parliament vodka', baseDir)
								li.screen__p-item.swiper-slide
									button.screen__p-btn
										+picture('talka-logo', 'Talka', baseDir)
				.main-page__screen.screen.js-anchor-bottle
					.screen__icon-wrap
						svg(width="14" height="9").screen__icon
							use(href=`${baseDir}/img/sprite.svg#arrow-b`)
					.screen__imgs-wrap
						.screen__img-wrap
							img(src=`${baseDir}/img/brands-banner.jpg` alt='')
						.screen__img-wrap.screen__img-wrap--center.screen__img-wrap--desk
							.screen__img-animate(class=`screen__img-animate--rs js-main-bottle`)
								+picture(`main-rs-bottle`, '', baseDir)
							each val in ['rsplatinum', 'rsgold', 'gancia', 'talka', 'gancia3', 'zm', 'gancia2', 'pm']
								.screen__img-animate(class=`screen__img-animate--${val} js-animate-bottle`)
									+picture(`main-${val}-bottle`, '', baseDir)
						.screen__img-wrap.screen__img-wrap--center.screen__img-wrap--mob
							+picture('bottles', '', baseDir)
					.screen__content
						.screen__inner.screen__inner--padding
							h2.screen__title.screen__title--fonts Brands
							p.screen__text.screen__text--padding We produce and supply world-famous alcohol brands to 86 countries.
							a.screen__link(href="#") More
				.main-page__screen.screen
					.screen__icon-wrap
						svg(width="14" height="9").screen__icon
							use(href=`${baseDir}/img/sprite.svg#arrow-b`)
					.screen__img-wrap
						img(src=`${baseDir}/img/partnership-banner.jpg` alt='')
					.screen__content
						.screen__inner
							h2.screen__title.screen__title--fonts Partnership
							p.screen__text.screen__text--padding We have an extensive portfolio of leading brands across diverse categories that offer considerable advantages for co-operation.
							.screen__in-box
								h3.screen__sub-title How to become a business partner?
								ol.screen__o-list
									li.screen__o-item
										p.screen__o-text Complete <button class="screen__o-button js-btn-form">the form
									li.screen__o-item
										p.screen__o-text We will contact you to discuss the details
									li.screen__o-item
										p.screen__o-text Let’s start earning together
							a.screen__link(href="#") More
				.main-page__screen.screen
					.screen__icon-wrap
						svg(width="14" height="9").screen__icon.screen__icon--color
							use(href=`${baseDir}/img/sprite.svg#arrow-b`)
					.screen__img-wrap
						img(src=`${baseDir}/img/bg.svg`)
					.screen__content
						.screen__title-wrap
							h2.screen__title.screen__title--fonts.screen__title--color News
							a.screen__title-link(href="#") More news

					include ../../template/_news

				.main-page__screen.screen
					.screen__icon-wrap
						svg(width="14" height="9").screen__icon
							use(href=`${baseDir}/img/sprite.svg#arrow-b`)
					.screen__img-wrap.screen__img-wrap--height
						img(src=`${baseDir}/img/investors-banner.jpg` alt='')
					.screen__content.screen__content--grid
						h2.screen__title.screen__title--fonts
							|	Investors
						a.screen__link(href="#") More
						dl.screen__dl
							.screen__d-wrap
								dt.screen__dt 60
								dd.screen__dd brands in the portfolio
							.screen__d-wrap
								dt.screen__dt 4&nbsp;000
								dd.screen__dd people in our team
							.screen__d-wrap
								dt.screen__dt $&nbsp;2&nbsp;000&nbsp;000&nbsp;000
								dd.screen__dd is the turnover in 2019
				.main-page__screen.screen.screen--bg-before
					.screen__icon-wrap
						svg(width="14" height="9").screen__icon.screen__icon--fill
							use(href=`${baseDir}/img/sprite.svg#arrow-b`)
					.screen__img-wrap
						img(src=`${baseDir}/img/career-banner.jpg` alt='')
					.screen__content.screen__content--padding
						.screen__inner.screen__inner--bg
							h2.screen__title.screen__title--fonts.screen__title--color Career
							p.screen__text.screen__text--padding.screen__text--color.screen__text--md We give our employees opportunities to fulfill their dreams.
							p.screen__text.screen__text--fz.screen__text--color Join our international team of professionals who achieve their ambitions with us.
							a.screen__link.screen__link--color(href="#") More
				.main-page__screen.screen
					.screen__icon-wrap
						svg(width="14" height="9").screen__icon
							use(href=`${baseDir}/img/sprite.svg#arrow-b`)
					.screen__img-wrap
						img(src=`${baseDir}/img/contacts-banner.jpg` alt='')
					.screen__content
						.screen__inner.screen__inner--last
							h2.screen__title.screen__title--fonts.screen__title--padding Contacts
							p.screen__prev-text Russia
							.screen__contacts
								p.screen__text-title Roust Global Headquarters
								ul.screen__contacts-list
									li.screen__contacts-item Novoorlovskaya Street 5 Moscow 119633 Russia
									li.screen__contacts-item
										a.screen__contacts-link(href="tel:84957771777" target="_blank") +7 (495) 777-1-777
									li.screen__contacts-item
										a.screen__contacts-link(href="mailto:info@rust.com") info@roust.com
							button.screen__contacts-btn Send message
