block templates
	template.catalog__template.js-catalog-template
		ul.brands__list.js-catalog-list
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Russian Standard
					p.catalog-brands__item-text 2 flavours
				.brands__img
					img(src=`${baseDir}/img/catalog-russia-standart.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Russian Standard Gold
					p.catalog-brands__item-text 1 flavour
				.brands__img
					img(src=`${baseDir}/img/catalog-russia-standart-gold.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Russian Standard Platinum
					p.catalog-brands__item-text 1 flavour
				.brands__img
					img(src=`${baseDir}/img/catalog-russia-standart-platinum.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title IMPERIA
					p.catalog-brands__item-text 1 flavour
				.brands__img
					img(src=`${baseDir}/img/catalog-imperia.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Parliament
					p.catalog-brands__item-text 3 flavours
				.brands__img
					img(src=`${baseDir}/img/catalog-parliament.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Silver Coupage
					p.catalog-brands__item-text 1 flavour
				.brands__img
					img(src=`${baseDir}/img/catalog-silver-coupage.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Talka
					p.catalog-brands__item-text 1 flavour
				.brands__img
					img(src=`${baseDir}/img/catalog-talka.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Green Mark
					p.catalog-brands__item-text 4 flavours
				.brands__img
					img(src=`${baseDir}/img/catalog-green-mark.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Kauffman
					p.catalog-brands__item-text 4 flavours
				.brands__img
					img(src=`${baseDir}/img/catalog-kauffman.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Zhuravli
					p.catalog-brands__item-text 2 flavours
				.brands__img
					img(src=`${baseDir}/img/catalog-zhuravli.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Yamskaya
					p.catalog-brands__item-text 2 flavours
				.brands__img
					img(src=`${baseDir}/img/catalog-yamskaya.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Urozhay
					p.catalog-brands__item-text 1 flavour
				.brands__img
					img(src=`${baseDir}/img/catalog-urozhay.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Marussya
					p.catalog-brands__item-text 2 flavours
				.brands__img
					img(src=`${baseDir}/img/catalog-marussya.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Topaz
					p.catalog-brands__item-text 1 flavour
				.brands__img
					img(src=`${baseDir}/img/catalog-topaz.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Troika
					p.catalog-brands__item-text 1 flavour
				.brands__img
					img(src=`${baseDir}/img/catalog-troika.jpg`, alt="")
