block templates
	template.catalog__template.js-catalog-template
		ul.brands__list.js-catalog-list
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Russian Standard
				.brands__img
					img(src=`${baseDir}/img/catalog-russia-standart.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Russian Standard Gold
				.brands__img
					img(src=`${baseDir}/img/catalog-russia-standart-gold.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Russian Standard Platinum
				.brands__img
					img(src=`${baseDir}/img/catalog-russia-standart-platinum.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title IMPERIA
				.brands__img
					img(src=`${baseDir}/img/catalog-imperia.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Parliament
				.brands__img
					img(src=`${baseDir}/img/catalog-parliament.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Silver Coupage
				.brands__img
					img(src=`${baseDir}/img/catalog-silver-coupage.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Talka
				.brands__img
					img(src=`${baseDir}/img/catalog-talka.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Green Mark
				.brands__img
					img(src=`${baseDir}/img/catalog-green-mark.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Kauffman
				.brands__img
					img(src=`${baseDir}/img/catalog-kauffman.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Zhuravli
				.brands__img
					img(src=`${baseDir}/img/catalog-zhuravli.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Yamskaya
				.brands__img
					img(src=`${baseDir}/img/catalog-yamskaya.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Urozhay
				.brands__img
					img(src=`${baseDir}/img/catalog-urozhay.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Marussya
				.brands__img
					img(src=`${baseDir}/img/catalog-marussya.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Topaz
				.brands__img
					img(src=`${baseDir}/img/catalog-topaz.jpg`, alt="")
			li.brands__item
				a.catalog-brands__link(href="#")
				.catalog-brands__item-content
					h2.catalog-brands__item-title Troika
				.brands__img
					img(src=`${baseDir}/img/catalog-troika.jpg`, alt="")
