block templates
	template.brands__template.js-brands-template
		ul.brands__list.js-brands-list
			li.brands__item.brands__item--flex
				.brands__item-bg
					img(src=`${baseDir}/img/brands-rs-bg.jpg`, alt="")
				.brands__img.brands__img--rs
					+picture('brand-rs-bottle', '', baseDir)
				.brands__item-content.brands__item-content--max-width
					h2.brands__item-title Russian vodka
					p.brands__item-text Our portfolio of Russian vodkas includes some of the best known and most loved brands in Russia, and 86 countries across the world.
					a.brands__link.animate-button(href="#")
						span.brands__link-text More
			li.brands__item.brands__item--bg-red
				.brands__img.brands__img--chanti
					+picture('brand-chanti-bottle', '', baseDir)
				.brands__item-content
					h2.brands__item-title Wines
					p.brands__item-text Our still wine portfolio is carefully crafted using traditional Italian wine making processes and includes wines with DOC and DOCG status.
					a.brands__link.animate-button(href="#")
						span.brands__link-text More
			li.brands__item.brands__item--grid-2
				.brands__item-bg
					img(src=`${baseDir}/img/brands-gancia-bg.jpg`, alt="")
				.brands__img.brands__img--gancia
					+picture('brand-gancia-bottle', '', baseDir)
				.brands__item-content
					h2.brands__item-title Sparkling wines
					p.brands__item-text Founded in 1850, Gancia is the creator of the first Italian sparkling wine.
					a.brands__link.animate-button(href="#")
						span.brands__link-text More
			li.brands__item
				.brands__item-bg
					img(src=`${baseDir}/img/brands-darrow-bg.jpg`, alt="")
				.brands__img.brands__img--darrow
					+picture('brand-darrow-bottle', '', baseDir)
				.brands__item-content
					h2.brands__item-title Whisky
					p.brands__item-text Darrow is Roust Group’s first owned whisky brand. It is produced and bottled in one of Scotland's finest distilleries.
					a.brands__link.animate-button(href="#")
						span.brands__link-text More
			li.brands__item.brands__item--grid-3.brands__item--bg-blue
				.brands__img.brands__img--bravo
					+picture('brand-bravo-bottle', '', baseDir)
				.brands__item-content.brands__item-content--max-width
					h2.brands__item-title Ready-to-Drink
					p.brands__item-text Our Ready-to-Drink business is a category leader in Russia, producing well-known international drinks, and our own line of refreshing ready to consume cocktails.
					a.brands__link.animate-button(href="#")
						span.brands__link-text More
			li.brands__item.brands__item--flex.brands__item--grid-last
				.brands__item-bg
					picture
						source(media="(max-width: 1279.9px)", srcset=`${baseDir}/img/brands-gancia3-m-bg.jpg`)
						img(src=`${baseDir}/img/brands-gancia3-bg.jpg`, alt="")
				.brands__img.brands__img--gancia3
					+picture('brand-gancia3-bottle', '', baseDir)
				.brands__item-content
					h2.brands__item-title Vermouth
					p.brands__item-text The first ever Vermouth Bianco was created by Casa Gancia before 1890 and is made with Moscato Bianco grapes.
					a.brands__link.animate-button(href="#")
						span.brands__link-text More

		ul.brands__list.js-brands-list
			li.brands__item
				.brands__item-bg
					img(src=`${baseDir}/img/brands-grants-bg.jpg`, alt="")
				.brands__img.brands__img--grants
					+picture('brand-grants-bottle', '', baseDir)
				.brands__item-content
					h2.brands__item-title Whisky
					p.brands__item-text Grant’s is the world's TOP 5 premium Scotch whisky, owning 58 industry awards.
					a.brands__link.animate-button(href="#")
						span.brands__link-text More
			li.brands__item
				.brands__item-bg
					img(src=`${baseDir}/img/brands-remy-bg.jpg`, alt="")
				.brands__img.brands__img--martin
					+picture('brand-martin-bottle', '', baseDir)
				.brands__item-content
					h2.brands__item-title Cognac and Brandy
					p.brands__item-text One of the few cognac houses that produces the world's most prestigious Fine Champagne cognac.
					a.brands__link.animate-button(href="#")
						span.brands__link-text More
			li.brands__item
				.brands__item-bg
					img(src=`${baseDir}/img/brands-jager-bg.jpg`, alt="")
				.brands__img.brands__img--jager
					+picture('brand-jager-bottle', '', baseDir)
				.brands__item-content
					h2.brands__item-title Liquors
					p.brands__item-text The Number 1 ice cold shot in the world, made with 56 herb and botanical ingredients.
					a.brands__link.animate-button(href="#")
						span.brands__link-text More
			li.brands__item
				.brands__item-bg
					img(src=`${baseDir}/img/brands-zubrowka-bg.jpg`, alt="")
				.brands__img.brands__img--zb
					+picture('brand-zb-bottle', '', baseDir)
				.brands__item-content
					h2.brands__item-title Polish vodka
					p.brands__item-text We produce authentic Polish brands with more than 500 years of history, appreciated around the world.
					a.brands__link.animate-button(href="#")
						span.brands__link-text More
			li.brands__item
				.brands__item-bg
					img(src=`${baseDir}/img/brands-rossi-bg.jpg`, alt="")
				.brands__img.brands__img--cr
					+picture('brand-cr-bottle', '', baseDir)
				.brands__item-content
					h2.brands__item-title Wines
					p.brands__item-text For 40 years, Carlo Rossi has kept its simple, straightforward approach to winemaking by consistently producing great tasting, unpretentious wines.
					a.brands__link.animate-button(href="#")
						span.brands__link-text More
			li.brands__item
				.brands__item-bg
					img(src=`${baseDir}/img/brands-rum-bg.jpg`, alt="")
				.brands__img.brands__img--rum
					+picture('brand-rum-bottle', '', baseDir)
				.brands__item-content
					h2.brands__item-title Rum
					p.brands__item-text The oldest rum in the world and the symbol of the island of Barbados.
					a.brands__link.animate-button(href="#")
						span.brands__link-text More
			li.brands__item
				.brands__item-bg
					img(src=`${baseDir}/img/brands-tequil-bg.jpg`, alt="")
				.brands__img.brands__img--sierra
					+picture('brand-sierra-bottle', '', baseDir)
				.brands__item-content
					h2.brands__item-title Tequila
					p.brands__item-text Tequila Sierra, with its famous sombrero cap, is in great demand not only in its homeland, Mexico, but also far beyond its borders.
					a.brands__link.animate-button(href="#")
						span.brands__link-text More
			li.brands__item.brands__item--grid-last
				.brands__item-bg
					img(src=`${baseDir}/img/brands-botanist-bg.jpg`, alt="")
				.brands__img.brands__img--botanist
					+picture('brand-botanist-bottle', '', baseDir)
				.brands__item-content
					h2.brands__item-title Gin
					p.brands__item-text The only gin produced on the island of Islay in Scotland. In addition to the nine classic ingredients, The Botanist also includes 22 native plants.
					a.brands__link.animate-button(href="#")
						span.brands__link-text More

	template.gallery__template.g-template.js-gallery-template
		.g-template__container.js-gallery-container
			.g-template__wrap.swiper.js-gallery-slider
				button.g-template__btn.js-close-btn
					svg(width="22" height="22").g-template__icon
						use(href=`${baseDir}/img/sprite.svg#cross`)
			button.g-template__nav-btn.g-template__nav-btn--left.js-g-btn-prev
				svg(width="14" height="9").g-template__nav-icon
					use(href=`${baseDir}/img/sprite.svg#arrow-g`)
			button.g-template__nav-btn.g-template__nav-btn--right.js-g-btn-next
				svg(width="14" height="9").g-template__nav-icon
					use(href=`${baseDir}/img/sprite.svg#arrow-g`)

	template.g-template.js-g-list-template
		ul.g-template__list.swiper-wrapper.js-g-list
			each item in [`The world's second largest vodka producer`, 'The second largest vodka producer, second largest vodka producer', 'The second vodka producer, second largest vodka']
				li.g-template__item.swiper-slide
					.g-template__img
						img(src=`${baseDir}/img/g-photo.jpg`, alt="")
					p.g-template__title Topaz distillery.
					p.g-template__text=item
		ul.g-template__list.swiper-wrapper.js-g-list
			each item in [`Test`]
				li.g-template__item.swiper-slide
					.g-template__img
						img(src=`${baseDir}/img/sp-content-2.jpg`, alt="")
					p.g-template__title Topaz distillery.
					p.g-template__text=item
				li.g-template__item.swiper-slide
					.g-template__img
						img(src=`${baseDir}/img/sp-content-3.jpg`, alt="")
					p.g-template__title Topaz distillery.
					p.g-template__text=item
				li.g-template__item.swiper-slide
					.g-template__img
						img(src=`${baseDir}/img/sp-content-4.jpg`, alt="")
					p.g-template__title Topaz distillery.
					p.g-template__text=item
				li.g-template__item.swiper-slide
					.g-template__img
						img(src=`${baseDir}/img/sp-content-5.jpg`, alt="")
					p.g-template__title Topaz distillery.
					p.g-template__text=item

	template.popup-form.js-popup-form-template
		.popup-form__wrap.js-popup-wrap
			form(action="", method="post").popup-form__form.js-popup-form
				button.popup-form__close-btn.js-close-btn
					svg(width="22" height="22").popup-form__icon
						use(href=`${baseDir}/img/sprite.svg#cross`)
				fieldset.popup-form__fieldset
					h2.popup-form__title Please complete the form
					.popup-form__input-group
						input#first-name.popup-form__input(type="text", name="first-name" required)
						label.popup-form__label(for="first-name") First name
						p.popup-form__error-text Please enter your First name.
					.popup-form__input-group
						input#surname.popup-form__input(type="text", name="surname")
						label.popup-form__label(for="surname") Surname
					.popup-form__input-group
						input#email.popup-form__input(type="email", name="email" required)
						label.popup-form__label(for="email") Email
						p.popup-form__error-text Please enter your email.
					.popup-form__input-group
						input#c-email.popup-form__input(type="email", name="email" required)
						label.popup-form__label(for="c-email") Confirm email
						p.popup-form__error-text Please confirm your email.

					+selectHybrid('company', 'Application for company', 'Select company...', ['ABC technologies', 'Roust', 'Test Company'], 'required')
					+selectHybrid('country', 'Country', 'Select country...', ['United Kingdom', 'USA', 'Russia'], 'required')

					.popup-form__input-group.popup-form__input-group--textarea
						textarea#textarea.popup-form__textarea(name="cover", required)
						label.popup-form__label(for="textarea") Cover letter
						p.popup-form__error-text Please enter your cover letter.

					p.popup-form__text <span class='popup-form__text popup-form__text--color'>*</span> All fields are required

					.popup-form__inner
						input#upload.popup-form__upload-input(type="file", name="upload-file" required)
						label.popup-form__upload-label(for="upload") Upload CV *
						button.popup-form__btn(type="submit") Submit
						p.popup-form__error-text Please upload your CV.

		.popup-form__wrap.js-subscribe-popup
			form(action="", method="post").popup-form__form.js-popup-form
				button.popup-form__close-btn.js-close-btn
					svg(width="22" height="22").popup-form__icon
						use(href=`${baseDir}/img/sprite.svg#cross`)
				fieldset.popup-form__fieldset
					h2.popup-form__title Please complete the form
					.popup-form__input-group
						input#your-name.popup-form__input(type="text", name="your-name" required)
						label.popup-form__label(for="your-name") Your name
						p.popup-form__error-text Please enter your First name.
					.popup-form__input-group
						input#email.popup-form__input(type="email", name="email" required)
						label.popup-form__label(for="email") Email
						p.popup-form__error-text Please enter your email.

					p.popup-form__text <span class='popup-form__text popup-form__text--color'>*</span> All fields are required
					button.popup-form__btn(type="submit") Subscribe

	template.js-about-template
		.side
			.side__wrap.js-side-wrap
				.side__content
					button.side__back-btn.js-back-btn
						svg(width="16" height="16").side__icon
							use(href=`${baseDir}/img/sprite.svg#arrow-back`)
						span.side__btn-text Go back
					.side__top
						.side__img
							img.js-side-img(src="", alt="")
						.side__texts-wrap
							h2.side__title.js-side-title
							span.side__sub-title.js-side-subTitle
					.side__main
						p.side__text.js-side-text

	template.js-search-template
		.search-popup.js-search-popup
			.search-popup__wrap.js-search-wrap
				button.search-popup__close-btn.js-close-btn
					svg(width="22" height="22").search-popup__icon
						use(href=`${baseDir}/img/sprite.svg#cross`)
				h2.search-popup__title Search
				form.search-popup__form(action="", method="get")
					input.search-popup__input(type="search", name="search", placeholder='Enter text')
					button.search-popup__btn Search
				ul.search-popup__list
					li.search-popup__item
						h3.search-popup__sub-title Parliament Production Distillery
						p.search-popup__text.js-search-result One of the most technologically advanced distilleries of Roust Group. Built and commissioned in 1991.  Investments in the modernization of the plant since 2011 amount to over 270 million rubles
						a.search-popup__link(href='#') More
