section.top(class=`${page}__top-section`)
	.container(class=`${page}__top-container js-${page}-container`)
		.top__wrap(class=`top__wrap--${page}`)

			if (page == 'brands-item')
				nav.breadcrumbs.js-opacity(class=`${page}__breadcrumbs`)
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Home page
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Brands
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Russian vodka
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Russian Standard Vodka

			.top__content(class=`top__content--${page}`).js-opacity
				h1.top__title(class=`top__title--${page}`)=title
				p.top__text(class=`top__text--${page}`)=topText

				if (page == 'investors')
					p.top__text.top__text--fz Roust Corporation encompasses all alcohol brands except Gancia and Russian Standard Vodka, and some regional businesses.

				if (page == 'partnership')
					h2.top__sub-title How to become a business partner
					ul.top__list
						li.top__item
							svg(width="57" height="64").top__icon
									use(href="/f/img/sprite.svg#form")
							button.top__btn.js-btn-form
								span.top__btn-text Complete the form
						li.top__item
							svg(width="63" height="64").top__icon
									use(href="/f/img/sprite.svg#chat")
							p.top__item-text We will contact you to discuss all the details
						li.top__item
							svg(width="67" height="64").top__icon
									use(href="/f/img/sprite.svg#pay")
							p.top__item-text Let’s start earning together

				if (page == 'brands-item')
					a.top__link(href="")
						span.top__link-text Visit brand site

				if (page == 'career')
					button.top__btn.js-btn-form
						span.top__btn-text Complete the form

				if (page == 'contacts')
					h2.top__text(class=`top__text--${page} top__text--country`)=topTextCountry
					p.top__text(class=`top__text--${page} top__text--name`)=topTextName
					p.top__text(class=`top__text--${page} top__text--address`)=topTextAddress
					a.top__text(href=`tel:${topTextTelephone}` class=`top__text--${page} top__text--telephone`)=topTextTelephone
					a.top__text(href=`mailto:${topTextMail}` class=`top__text--${page} top__text--mail`)=topTextMail

					button.top__btn.js-btn-form.animate-button
						span.top__btn-text Send message

			if (page == 'brands-item')
				ul.top__list-awards.js-opacity
					li.top__item-awards
						+picture('Awards-rs1', '', baseDir)
					li.top__item-awards
						+picture('awards-rs2', '', baseDir)
				.top__img-item.js-anim-size
					.top__img-wrapper
						.top__picture
							+picture('rs-bottle', '', baseDir)

			if (page == 'about-us')
				.top__sub-content
					.top__sub-text-content
						span.top__sub-text Roustam Tariko
						span.top__sub-text.top__sub-text--font Founder and Chairman, Roust
					.top__sub-img
						+picture('signature', '', baseDir)

	if (page == 'brands-item')
		button.top__scroll-btn.js-scroll-btn
			svg(width="144" height="50").top__scroll-icon
				use(href="/f/img/sprite.svg#flag")
