extends ../../template/_layout

block pageVar
	-
		page = 'about-us';

block path
	-
		baseDir = '/f';

block title
	-
		title = 'About us';

block text
	-
		topText = '"Welcome to Roust. We are a group of consumer-focused companies with market-leading brands in 86 countries markets around the world, including UK, USA, Germany, France, Italy, Russia, Poland and Hungary. It is with great pride that I personally ensure that Roust products are of the highest quality and offer the best possible consumer experience."';

block page
	section.about-us
		.container
			ol.about-us__list
				li.about-us__item
					p.about-us__item-title Our Mission
					.about-us__item-wrap
						h2.about-us__sub-title Our ambition is to provide affordable luxury to everyone.
						p.about-us__item-text Our goal is to build a global company of leading brands. Through consumer insight, we have a deep understanding of what our consumers need and desire. Through innovation, we create products and services that start new trends.
				li.about-us__item
					p.about-us__item-title.about-us__item-title--padding Our Heritage
					.about-us__slider.swiper.js-about-us-slider
						.about-us__slider-wrapper.swiper-wrapper
							.about-us__slide.swiper-slide
								.about-us__slide-img
									img(src=`${baseDir}/img/about-us-slide1.jpg`, alt="")
								.about-us__slide-content
										h3.about-us__slide-title "A leading distributor of premium spirits brands"
										p.about-us__slide-text Founded in 1992 by pioneering Russian businessman Roustam Tariko, Roust Inc. quickly became a leading distributor of premium spirits brands.
							.about-us__slide.swiper-slide
								.about-us__slide-img
									img(src=`${baseDir}/img/about-us-slide2.jpg`, alt="")
								.about-us__slide-content
										h3.about-us__slide-title.about-us__slide-title--color Brands that reflect the new standard of quality and innovation
										p.about-us__slide-text.about-us__slide-text--color Roust then set out to fulfill its founding mission by creating brands that reflect a new standard of quality and innovation. In 1998, Russian Standard Vodka was launched as Russia’s first premium vodka, quickly becoming the number one premium vodka in Russia.
							.about-us__slide.swiper-slide
								.about-us__slide-img
									img(src=`${baseDir}/img/about-us-slide3.jpg`, alt="")
								.about-us__slide-content
										h3.about-us__slide-title Russian leader in the international consumer goods market
										p.about-us__slide-text Today, Russian Standard Vodka’s brands – Original, Platinum, Gold and IMPERIA – dominate the premium vodka segment in Russia and are exported to more than 80 markets around the world. Russian Standard Vodka is Russia’s only truly global consumer brand.
							.about-us__slide.swiper-slide
								.about-us__slide-img
									img(src=`${baseDir}/img/about-us-slide4.jpg`, alt="")
								.about-us__slide-content
										h3.about-us__slide-title.about-us__slide-title--color "Italy’s original sparkling wine and vermouth"
										p.about-us__slide-text.about-us__slide-text--color In 2011, Roust acquired Gancia, the legendary Italian producer of sparkling wines and vermouths founded in 1850.
							.about-us__slide.swiper-slide
								.about-us__slide-img
									img(src=`${baseDir}/img/about-us-slide5.jpg`, alt="")
								.about-us__slide-content
										h3.about-us__slide-title "One of the largest vodka producers in the world"
										p.about-us__slide-text Through the acquisition of Central European Distribution Corporation, Roust became the largest integrated spirits beverage producer and distributor in Central and Eastern Europe, and one of the largest vodka producers in the world.
				li.about-us__item
					p.about-us__item-title Our Team
					.about-us__cards-wrap
						.about-us__card
							.about-us__card-img
								img.js-card-img(src=`${baseDir}/img/portrait1.jpg`, alt="")
							.about-us__card-content
								h4.about-us__card-title.js-card-title Roustam Tariko
								p.about-us__card-text.js-card-text Chairman of the Board of Directors
								button.about-us__card-btn.js-side-block More
						.about-us__card
							.about-us__card-img
								img.js-card-img(src=`${baseDir}/img/portrait2.jpg`, alt="")
							.about-us__card-content
								h4.about-us__card-title.js-card-title Igor Kosarev
								p.about-us__card-text.js-card-text Vice President
								button.about-us__card-btn.js-side-block More
						.about-us__card
							.about-us__card-img
								img.js-card-img(src=`${baseDir}/img/portrait3.jpg`, alt="")
							.about-us__card-content
								h4.about-us__card-title.js-card-title Pavel Merkul
								p.about-us__card-text.js-card-text CEO, Russian Standard Holding Director
								button.about-us__card-btn.js-side-block More
						.about-us__card
							.about-us__card-img
								img.js-card-img(src=`${baseDir}/img/portrait4.jpg`, alt="")
							.about-us__card-content
								h4.about-us__card-title.js-card-title Alessandro Picchi
								p.about-us__card-text.js-card-text CEO, Roust Corporation
								button.about-us__card-btn.js-side-block More
						.about-us__card
							.about-us__card-img
								img.js-card-img(src=`${baseDir}/img/portrait5.jpg`, alt="")
							.about-us__card-content
								h4.about-us__card-title.js-card-title Yaroslav Zakharov
								p.about-us__card-text.js-card-text CFO
								button.about-us__card-btn.js-side-block More
						.about-us__card
							.about-us__card-img
								img.js-card-img(src=`${baseDir}/img/portrait6.jpg`, alt="")
							.about-us__card-content
								h4.about-us__card-title.js-card-title Ilya Blinov
								p.about-us__card-text.js-card-text Head of Global Operations General Manager Russia
								button.about-us__card-btn.js-side-block More
						.about-us__card
							.about-us__card-img
								img.js-card-img(src=`${baseDir}/img/portrait7.jpg`, alt="")
							.about-us__card-content
								h4.about-us__card-title.js-card-title Mariusz Chrobot
								p.about-us__card-text.js-card-text General Manager Poland
								button.about-us__card-btn.js-side-block More
				li.about-us__item
					p.about-us__item-title Our Facilities
					.about-us__texts-wrap
						h2.about-us__sub-title Roust owns 8 vodka and spirit distilleries in Russia and Poland including multiple warehouses.
						p.about-us__item-text We also own logistic hubs and offices across major cities in Russia, Poland, Western Europe and the USA, as well as a wide distribution network in Russia and international markets.
					.about-us__cards-container.js-about-mob-slider.js-about-card
						.about-us__cards-wrap.about-us__cards-wrap--width
							.about-us__card
								.about-us__card-img.about-us__card-img--filter
									img.js-card-img(src=`${baseDir}/img/facilities1.jpg`, alt="")
								.about-us__card-content
									h4.about-us__card-title.js-card-title Russian Standard Vodka Distillery
									p.about-us__card-text.js-card-text St. Petersburg, Russia
									button.about-us__card-btn.js-side-block Learn more
							.about-us__card
								.about-us__card-img.about-us__card-img--filter
									img.js-card-img(src=`${baseDir}/img/facilities2.jpg`, alt="")
								.about-us__card-content
									h4.about-us__card-title.js-card-title Bravo Premium
									p.about-us__card-text.js-card-text St. Petersburg, Russia
									button.about-us__card-btn.js-side-block Learn more
							.about-us__card
								.about-us__card-img.about-us__card-img--filter
									img.js-card-img(src=`${baseDir}/img/facilities3.jpg`, alt="")
								.about-us__card-content
									h4.about-us__card-title.js-card-title Parliament Production Distillery
									p.about-us__card-text.js-card-text Balashikha, Russia
									button.about-us__card-btn.js-side-block Learn more
							.about-us__card
								.about-us__card-img.about-us__card-img--filter
									img.js-card-img(src=`${baseDir}/img/facilities4.jpg`, alt="")
								.about-us__card-content
									h4.about-us__card-title.js-card-title Topaz Distillery
									p.about-us__card-text.js-card-text Pushkino, Russia
									button.about-us__card-btn.js-side-block Learn more
							.about-us__card
								.about-us__card-img.about-us__card-img--filter
									img.js-card-img(src=`${baseDir}/img/facilities5.jpg`, alt="")
								.about-us__card-content
									h4.about-us__card-title.js-card-title Siberian Distillery
									p.about-us__card-text.js-card-text Koltcovo, Novosibirsk Region, Russia
									button.about-us__card-btn.js-side-block Learn more
							.about-us__card
								.about-us__card-img.about-us__card-img--filter
									img.js-card-img(src=`${baseDir}/img/facilities6.jpg`, alt="")
								.about-us__card-content
									h4.about-us__card-title.js-card-title Russian Standard Vodka Spirits Production Center
									p.about-us__card-text.js-card-text Buinsk, Russia
									button.about-us__card-btn.js-side-block Learn more
							.about-us__card
								.about-us__card-img.about-us__card-img--filter
									img.js-card-img(src=`${baseDir}/img/facilities7.jpg`, alt="")
								.about-us__card-content
									h4.about-us__card-title.js-card-title Oborniki Distillery
									p.about-us__card-text.js-card-text Oborniki, Poland
									button.about-us__card-btn.js-side-block Learn more
							.about-us__card
								.about-us__card-img.about-us__card-img--filter
									img.js-card-img(src=`${baseDir}/img/facilities8.jpg`, alt="")
								.about-us__card-content
									h4.about-us__card-title.js-card-title Białystok Distillery
									p.about-us__card-text.js-card-text Białystok, Poland
									button.about-us__card-btn.js-side-block Learn more
							.about-us__card
								.about-us__card-img.about-us__card-img--filter
									img.js-card-img(src=`${baseDir}/img/facilities9.jpg`, alt="")
								.about-us__card-content
									h4.about-us__card-title.js-card-title Gancia
									p.about-us__card-text.js-card-text Canelli, Italy
									button.about-us__card-btn.js-side-block Learn more
